<form [formGroup]="authForm">
    <div class="form-row">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email"/>
    </div>
    
    <div class="form-row">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password"/>
    </div>
    
    <div class="form-row">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
    </div>
    
    <div class="form-row">
        <label for="phone">Phone</label>
        <input id="'phone" type="text" formControlName="phone"/>
    </div>
 
    
    <label for="agree" class="checkbox-row">
        <input id="agree" type="checkbox" formControlName="agree"/>
        Remember me for next session
    </label>
</form>
<!-- <button mat-raised-button  type="button" (click)="onUpdate()">Cancel</button> -->
<p>Complete the form to enable button.</p>
<button mat-raised-button  [disabled]="authForm.invalid" (click)="onSubmit()">Submit</button>
